@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: sans-serif;
	background: #ffe082;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
  .join-btn {
    position: absolute;
    margin-top: 300px;
  }

  .wholeform {
    height: 400px;
    width: 500px;
    border-radius: 10px;
    background: #ffe082;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -10px -10px 25px 0 #ffe082be,
      10px 10px 25px 0 rgba(0, 0, 0, 0.1);
  }
  .form input {
    margin: 12px 20px;
  }

 .form {
    height: 400px;
    width: 500px;
    border-radius: 10px;
    background: #ffe082;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -10px -10px 25px 0 #ffe082be,
      10px 10px 25px 0 rgba(0, 0, 0, 0.1);
  }
/*
#service {
	float: right;
}

#trem_content {
	background-color: white;
	color: black;
	font-size: 8px;
	overflow: scroll;
	height: 50px;
	overflow-x: hidden;
	border-radius: 5px;
	padding: 9px 7px;
}

#sub_btn {
	background-color: #808080;
	color: black;
	width: 100%;
	font-size: 20px;
	padding: 10px 10px;
	border-radius: 10px;
}

input {
	border-style: none;
} */