@charset "UTF-8";

*
{
	font-family: 'Suisse Regular', sans-serif;
	box-sizing: border-box;
}

.modal {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow: auto;
}

.close
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.close:hover, .close:focus {
    color: #f00;
    cursor: pointer;
}

.modal-update-cmt-container
{
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px 16px;
    border: 1px solid #CFCFCF;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
}

.modal-update-cmt-header {
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.modal-update-cmt-buttons
{
    padding-top: 20px;
    text-align: center;
}

.modal-update-cmt-buttons:after
{
    content: "";
    display: block;
    clear: both;
}

.modal-update-cmt-buttons > button
{
    background-color: #333333;
    color: #fff;
}

#modal-update-cmt-content
{
	display: inline-block;
	border: 1px solid #B3B3B3;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    height: 60px;
    resize: none;
}

