@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    font-size: 10px;
}
.name,
p.job-title{
	font-family: 'Playfair Display', serif;
	text-align: center;
}
h2{
	font-size : 1rem;
}
a{
    text-decoration: none;
    color : #fff;
}

section{
    padding: 10rem 0;
    background-color: #ffd669;
}
.heading{
     text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    /* color: #333;  */
    position: relative;
}
.heading::after {
    content: "";
    width: 10rem;
    height: .8rem;
  /*   background-color: #808080; */
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card {
    width: 35rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
   /*  box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 2); */
}
.card .card-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%)
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}
.about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}
.card .btn{
    padding: 0.5rem 1rem;
    background-color: #333;
    border-radius: 1rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1rem;
    transition: 0.5s;
}
.card .btn:hover {
    background-color: #ffd669;
    color: #333;
}

.social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.social-media i {
    font-size: 3rem;
    transition: color .5s;
}
.fa-facebook-square {
    color : #3b5999;
}
.fa-google-plus-square {
    color: #dd4b39;
}
.fa-instagram {
    color: #e6683c;
}
.fa-facebook-square:hover,
.fa-google-plus-square:hover ,
.fa-instagram:hover {
	transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
}
.fa-facebook-square:active,
.fa-google-plus-square:active,
.fa-instagram:active{
    transform: translateY(0);
    box-shadow: none;
}

input#mypage_subject {
	width: 450px;
	height: 50px;
	border: none;
	background-color : white;
	border-radius : 5px
}
textarea#mypage_content {
	width: 450px;
	border: none;
	background-color : white;
	border-radius : 5px
}




