@charset "utf-8";

#top_box, #post{
    width: 85%;
    margin: 10px auto;
    padding: 5px 1px;
    
}

 a {
     text-decoration: none;
     color: black;
 }

 a:hover{
     color: #808080;
 }

 a:active{
     background-color: #DEDEDE;
 }