@charset "UTF-8";

.post{
	width: 20%;
	margin:10px 2%;
	background-color: white;
	height: 200px;
	display: inline-block;
	border-radius: 8px;
}

.subject{
	font-size: 25px; 
	font-weight: bold;
	display: inline-block;
}

.card{
	width: 100%;
	display: inline-block;
	border: 1px solid #B3B3B3;
	background-color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.data{
	font-size: 10px;
}

.card_img{
	width: 100%;
}

.card_name{
	font-size: 20px;
	font-weight: bold;
	padding: 6px 5px;
	display: inline-block;
}

.card_text{
	font-size: 13px;
	padding: 6px 5px;
	display: inline-block;
}

.site_btn{
	margin: 6px 5px;
	display: inline-block;
	border-radius: 3px;
	background-color: #007bff;
	color: white;
	outline: none;
	border: none;
}