/* article {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .card {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border: none;
} 
.container .card .face {
    width: 200px;
    height: 100px;
    transition: 0.5s;
}
.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translateY(50px); /*카드 글이 있는 부분이 가려진다.-일부만*/
} 

.container .card:hover .face.face1 {
    transform: translateY(0); /*카드 글이 있는 부분이 보여진다.*/
    background: #FFD966;
}

.container .card .face.face1 .content{
    display: block;
    justify-content: center;
    opacity: 0.2;
    transition: 0.5s;
}
.container .card:hover .face.face1 .content{ /*hover시 투명도가 사라짐-진해짐*/
    opacity: 1;
}
.container .card .face.face1 .content img{ /*hover시 img가 커짐*/
    max-width: 50px;
}
.container .card .face.face1 .content h3{
    margin: 10px 0 0 ;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}
.container .card:hover .face.face1 .content h3{
    color: #333;
}
.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: translateY(-50px); /*카드 글이 있는 부분이 가려진다.-완전히*/
}
.container .card:hover .face.face2 {
    transform: translateY(0);
}
.container .card:hover .face.face2 .content {
    position: relative;
    display: block;
    justify-content: center;
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}
/* 버튼 디자인 */
.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.container .card .face.face2 .content a:hover{
    background-color: #333;
    color: wheat;
} 

@media screen and (max-width:840px){

    .container{
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .container .card {
        position: relative;
        margin-left: 3px;
        margin-right: 3px;
        padding-left: 1px;
        padding-right: 1px;
        background-color: transparent;
        border: none;
    } 
    .container .card .face {
        width: 150px;
        height: 100px;
        transition: 0.5s;
    }
    .container .card .face.face1 {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transform: translateY(50px); /*카드 글이 있는 부분이 가려진다.-일부만*/
    } 
    
    .container .card:hover .face.face1 {
        transform: translateY(0); /*카드 글이 있는 부분이 보여진다.*/
        background: #FFD966;
    }
    
    .container .card .face.face1 .content{
        display: block;
        justify-content: center;
        opacity: 0.2;
        transition: 0.5s;
    }
    .container .card:hover .face.face1 .content{ /*hover시 투명도가 사라짐-진해짐*/
        opacity: 1;
    }
    .container .card .face.face1 .content img{ /*hover시 img가 커짐*/
        max-width: 50px;
    }
    .container .card .face.face1 .content h3{
        margin: 10px 0 0 ;
        padding: 0;
        color: #white;
        text-align: center;
        font-size: 0.8em;
    }
    .container .card:hover .face.face1 .content h3{
        color: #333;
    }
    .container .card .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        z-index: 1;
        transform: translateY(-50px); /*카드 글이 있는 부분이 가려진다.-완전히*/
    }
    .container .card:hover .face.face2 {
        transform: translateY(0);
    }
    .container .card:hover .face.face2 .content {
        position: relative;
        display: block;
        justify-content: center;
    }
    
    .container .card .face.face2 .content p{
        display: none;
    }
    /* 버튼 디자인 */
    .container .card .face.face2 .content a{
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 2px;
        border: 1px solid #333;
        font-size: 0.2em;

    }
    .container .card .face.face2 .content a:hover{
        background-color: #333;
        color: wheat;
    }
}