@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800');

*
{font-family: 'Suisse Regular', sans-serif;}

#topRankers
{
    margin: 10px auto;
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
}

#topRankers:before
{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #fff;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#topRankers:after
{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50%;
   background: #FFD966;
}

#topRankers > div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-style: preserve-3d;
    overflow: hidden;
    animation: animate 9s linear infinite;
    animation-delay: calc(3s * var(--i));
}

@keyframes animate
{
    0%
    {
        transform: perspective(500px) translate3d(0, 0, 0);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
        opacity: 1;
    }
    25%
    {
        transform: perspective(500px) translate3d(-20px, -10px, 10px);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        opacity: 1;
    }
    35%, 100%
    {
        transform: perspective(500px) translate3d(-600px, -10px, 20px);
        opacity: 0;
    }
}

.topRanker > .ranker-img
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.topRanker > .ranker-img > img
{
    width: 100%;
    height: 100%;
}

.topRanker > .ranker-info
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 2em;
    color: #333;
    background: #FFD966;
    font-weight: 600;
}

.ranker-info > div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}