*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}
  body {
    position: relative;
    font-family: sans-serif;
    background: #ffe082;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .back {
    position: absolute;
    margin-top: 300px;
  }
  .back h3{
    margin-bottom: 10px;
  }
  .form {
    height: 400px;
    width: 500px;
    border-radius: 10px;
    background: #ffe082;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -10px -10px 25px 0 #ffe082be,
      10px 10px 25px 0 rgba(0, 0, 0, 0.1);
  }

  .form input {
    margin: 12px 20px;
  }
  
  .input {
    width: 200px;
    padding: 10px 0 15px 0;
    border: none;
    outline: none;
    background: #ffe082;
    border-radius: 15px;
    font-size: 1.2em;
    color: #333;
    box-shadow: inset -6px -6px 25px 0 #ffe082be,
      inset 6px 6px 25px 0 rgba(0, 0, 0, 0.1);
  }
  form .text{
    margin-bottom: 10%;
    font-size: 1em;
    color: #333;
  }
  .input::placeholder {
   padding-left: 5%;
    color:#333;
    font-size: 0.7em;
  }
  .form h1 {
    width: 200px;
    text-align: center;
    background: #ffe082;
    color: #333;
    margin: 20px;
    padding: 15px 0px;
    border-radius: 15px;
    box-shadow: -6px -6px 25px 0 #ffe082be,
      6px 6px 25px 0 rgba(0, 0, 0, 0.1);
  }
  
  .btn-join {
    border: none;
    padding: 15px;
    min-width: 150px;
    border-radius: 15px;
    background: #8080;
    font-weight: bold;
    color: #333;
    box-shadow: -6px -6px 25px 0 #ffe082be,
      6px 6px 25px 0 rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }
  .btn-back {
    border: none;
    padding: 15px;
    min-width: 150px;
    border-radius: 15px;
    background: #333;
    font-weight: bold;
    color: #fff;
    transition: 0.4s;
  }

  .btn-join:hover,
  .btn-back:hover {
    min-width: 180px;
    cursor: pointer;
  }